*{
    font-family: 'Josefin Sans', sans-serif;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: white;
    position: fixed;
    width: 100%;
    margin-top: -8px;
}

.left{
    margin-left: 50px;
}

.right{
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
}

/* top */

#top{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.top{
    width: 700px;
    text-align: center;
    margin: auto;
    margin-top: 150px;
}

.top h1{
    font-size: 50px;
    font-weight: bold;
    color: rgb(0,9,94);
}

.top p{
    color: rgb(0,9,94);
    font-size: 17px;
    font-weight: bold;
}

.top button{
    padding: 15px 30px;
    background-color: rgb(0,9,94);
    color: white;
    font-size: 17px;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
    letter-spacing: 0.5px;
}

.top button:hover{
    background-color: rgb(255,203,15);
}


.top-image img{
    width: 600px;
    height: 600px;
}

/* upcomming */

#upcomming{
    margin-top: 40px;
    line-height: 15px;
}

#upcomming h1{
    font-size: 40px;
    font-weight: bold;
    color: rgb(0,9,94);
    text-align: center;
}

#upcomming p{
    text-align: center;
    font-size: 15px;
    color: rgb(0,9,94);
}

#events{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    margin: auto;
    gap: 30px;
}

#events>div{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#events>div img{
    width: 100%;
    height: 73%;
}

#events>div button{
    padding: 10px 20px;
    background-color: rgb(0,9,94);
    color: white;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
    letter-spacing: 0.5px;
}

#events>div button:hover{
    background-color: rgb(255,203,15);
}

/* destination */

#destination{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.destination-left img{
    width: 650px;
    height: 650px;
}


.destination-right{
    width: 700px;
    text-align: center;
    margin: auto;
    margin-top: 150px;
}

.destination-right h1{
    font-size: 50px;
    font-weight: bold;
    color: rgb(0,9,94);
}

.destination-right p{
    color: rgb(0,9,94);
    font-size: 17px;
    font-weight: bold;
}

.destination-right button{
    padding: 15px 30px;
    background-color: rgb(255,203,15);
    color: white;
    font-size: 17px;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
    letter-spacing: 0.5px;
}

.destination-right button:hover{
    background-color: rgb(0,9,94);
}

/* faq */

#faq h1{
    font-size: 50px;
    font-weight: bold;
    color: rgb(0,9,94);
    text-align: center;
}

#faq p{
    text-align: center;
    font-weight: bold;
    color: rgb(0,9,94);
}

.faq{
    width: 85%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center; 
}

.faq-left{
    width: 500px;
    text-align: center;
    margin: auto;
}

.faq-left p{
    width: 300px;
    color: rgb(0,9,94);
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid rgb(206, 207, 213);
}

/* gallary */

#gallary{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    margin: auto;
    gap: 5px;
    margin-top: 100px;
}

#gallary>div img{
    width: 100%;
    height: 100%;
}

/* footer */

.footer{
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    background-color: rgb(0,9,94);
    color: white;
    margin-top: 100px;
    text-align: center;
}


.footer-left{
    width: 22%;
}

.footer-right{
    width: 25%;
}

#bottom{
    color: white;
    margin: auto;
    background-color: rgb(0,9,94);
    text-align: center;
    font-size: 13px;
    padding: 10px;
    border-top: 1px solid white;
}